body {
    font-family: times-new-roman;
    background-color: gray;
    font-style: normal;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 100%;
    color:blue;
}

.bold {
    font-weight: lighter;
}

.img-small {
    height: 350px;
}

