body {
    font-family: times-new-roman;
    background-color: white;
    margin-top: 75px;
    font-style: normal;
}

.center {
    text-align: justify;
}

.text-big {
    font-size: 100%;
    color:blue;
}

.bold {
    font-weight: bold;
}

.img-small {
    height: 350px;
}

