body {
    font-family: helvetica;
    background-color: white;
    font-style: normal;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 400%;
    color:blue;
}

.bold {
    font-weight: bold;
}

.img-small {
    height: 350px;
}

